*
{margin: 0;
padding: 0;
box-sizing: border-box;}


.container{width: 1200px;
border: 2px solid #000000;
margin: auto;
display: flex;
justify-content: space-between;
background: #000000;}

.q{ padding: 20px;
    display: flex;
    gap: 20px;
color: white;}

.r{gap: 20px;
    display: flex;
color: white;
padding: 20px;}

.P{width: 1200px;
background: white;
display: flex;
justify-content: space-between;
margin: auto;
}

.i{width: 80px;
height: 60px;
margin: 20px;
}
.j ul {display: flex;
justify-content: space-between;
list-style: none;
gap: 20px;
padding: 40px;}

.bp{width: 1200px;
margin: auto;}

.o{width: 100%;}

.content{width:1200px ;
    margin: auto;
height: 400px;
display: flex;
justify-content: space-between;
}

.left h5{font-size: 40px;
    color: brown;
padding: 10px;}

.left p{font-size: 20px;
text-align: left;
padding: 20px;}

.btn{width: 120px;
height: 40px;
background: red;
color: white;
border-radius: 5px;}

.aact
{
    width: 1200px;  margin: auto;
}
.A5{
display: flex;
justify-content: space-between;
gap: 20px;}

.aact h2{
    color: brown;}


.A5 h2,p{text-align: center;
    padding: 15px;}
.buttn{background:#f6f2ea;
    margin: 15px;
color: red;
padding:10px ;}

.dd{padding: 40px;
font-size: 20px;}

.p{width: 100%;
height: 200px;}


.AA{width: 700px;
height: 600px;
background: #f6f2ea;}

.BB{width: 700px;
    height: 600px;
    background: #f6f2ea;}

.CC{width: 700px;
    height: 600px;
    background: #f6f2ea;}

.sathi{width: 1200px;
    height: 100px;
margin: auto;
display: flex;
justify-content: space-between;
background: #000000;}

.h{width: 85px;
height: 45px;
margin: 30px;}

.sathi ul{color: aliceblue;
display: flex;
list-style: none;
padding: 40px;
gap: 40px;}

.last{width: 1200px;
    margin: auto;
    background: rgb(245, 195, 130);}

    .last p{text-align: left;}